@use "../base/tokens" as *;

.header {
    background: #fff;
    border-bottom: 1px solid $color-border;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: $space-3 $space-6;
}

/* Logo */
.header__logo img {
    height: 32px;
    display: block;
    margin: 20px 0;
}

/* Busca */
.header__search {
    flex: 1;
    display: flex;
    justify-content: center;
    position: relative;
    max-width: 400px;
}
.header__search input {
    width: 100%;
    min-width: 350px;
    padding: 10px 36px 10px 16px;
    border-radius: 30px;
    border: 1px solid $color-muted;
    background-color: rgba(0, 0, 0, 0.151);
    font-size: 0.9rem;
    height: 50px;
}
.header__search .header__icon {
    position: absolute;
    right: 12px;
    top: 50%;
    transform: translateY(-50%);
    width: 16px;
    height: 16px;
    color: $color-muted;
}

.header__search-container {
    display: flex;
    gap: 20px;
}

.header__search input::placeholder {
    color: $color-muted;
}

/* Usuário */
.header__user {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 0.85rem;
}
.header__user span {
    color: $color-muted;
}
.header__user strong {
    color: $color-text;
}
.header__avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #ddd;
}

.header__user-info {
    display: flex;
    flex-direction: column;
}

.header__caret {
    width: 12px;
    height: 12px;
    color: $color-muted;
}
